
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;0,600;1,200;1,500&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 0.5s ease-in;
}


h1, h2, h3,h4, h5, h6 {
  font-family: 'Montserrat', sans-serif !important;

}
body {
  font-family: 'Montserrat';
  background-color: #ffffff;
}

section {
  margin: 0px;
}

.navbar {
  background-color: #ffffff !important;
  height: 12vh;
}
.navbar-brand img{
  width: 50px !important;
}

.offcanvas {
  background-color: #ffffff;
}

.dropdown-menu {
  background-color: #ffffff !important;
  border: none !important;
}
span .navbar-toggler-icon {
  background-color: #02AFEF !important;
}
.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.toggler-icon {
  width: 100%;
  height: 3px;
  background-color: #02AFEF;
  display: block;
  position: absolute;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  border-radius: 10px;
  margin-right: 100px !important;
}

/*when navigation is clicked*/
.navbar-toggler .top-bar {
  margin-top: 7px;
  transform: rotate(0deg);
}
.navbar-toggler .middle-bar {
  margin-top: 13.5px;
  transform: rotate(0deg);
}
.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(0deg);
}
/*state when navbar is collapsed*/
.offcanvas-header .btn-close {
  color: #02AFEF !important;
}
.nav-item {
  margin-left: 20px !important;
}
.nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000 !important;
}
.nav-link:hover {
  color: #02AFEF !important ;
}
/***************HERO SECTION******************/
#hero {
  
  background: rgb(236,0,140);
background: linear-gradient(3600deg, rgba(236,0,140,0.29175420168067223) 17%, rgba(132, 203, 229, 0.404) 37%, rgba(255,255,255,1) 63%);
  height: 100vh !important;
 
}
#hero h1{
  
}
#hero h1 span{
color: #EC008C;
}
#hero p {
  font-size: 1rem;
}
#hero .Explore-btn {
  color: #ffffff;
  width: 197px;
  height: 57px;
  padding: 15px;
  background: #02AFEF;
  border-radius: 4px;
  text-decoration: none !important;
}
#hero .Explore-btn:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}
.commitment div.cont{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 80px !important;
  padding: 20px !important;
  background-color: #ffffff;
}
.commitment div.cont i{
  font-size: 30px;
  color: #EC008C;
}
.commitment p{
  line-height: 30px;
}
#ready div.box{
  height: 300px !important;
  width: 100% !important;
  border: 0px;
  padding: 60px;
  border-style: ridge;
  background-color: #02AFEF !important;
  border-radius: 40px;

}
#ready .get-btn {
  color: #ffffff;
  width: 190px;
  height: 57px;
  padding: 15px;
  background: #EC008C;
  border-radius: 4px;
  text-decoration: none !important;
}
#ready .get-btn:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}
/***************HERO SECTION ENDS******************/

/***************GLAD YOU TOOK THE BOLD STEP ******************/

/********** RESPONSIVENESS **********/


/* For 480 Resolution - Mobile*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  

 
  .hero a.btn {
    display: flex !important;
    justify-content: center !important;
  }
  .hero .button {
    display: flex !important;
    justify-content: center !important;
  }
  .hero img {
    float: inline-start;
  }

  /* For 640 Resolution - mobile */
  @media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
  }

  /* For 1024 Resolution - laptop 1 */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* STYLES GO HERE */
  }

  /* For 1366 Resolution  -- laptop 2*/
  @media only screen and (min-width: 1030px) and (max-width: 1366px) {
    /* STYLES GO HERE */
  }

  /** desktop screen */
  @media only screen and (min-width: 1370px) and (max-width: 1605px) {
    /* STYLES GO HERE */
  }

  /*Ipad Orientation : Landscape */
  @media only screen and (orientation: landscape) and (min-device-pixel-ratio: 1) and (min-device-width: 768px) and (max-device-width: 1007px) {
    /* STYLES GO HERE */
  }

  /*ipad Orientation : Portrait */
  @media only screen and (orientation: portrait) and (min-device-pixel-ratio: 1) and (min-device-width: 768px) and (max-device-width: 1007px) {
    /* STYLES GO HERE */
  }
}